* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

#score {
  height: 20px;
  margin: 0 0 20px;
  position: relative; }
  #score #background,
  #score #foreground {
    width: 100%;
    position: absolute;
    height: 100%; }
  #score #background {
    background: white; }
  #score #foreground {
    background: #c7deff;
    z-index: 10;
    width: 50%; }
  #score svg#marker {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: auto;
    left: 50%;
    margin-left: -10px; }
  #score span {
    position: absolute;
    z-index: 30;
    color: white;
    font-size: 19px;
    display: block;
    line-height: 14px;
    padding: 0 10px; }

body {
  color: black;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #e0e0e0; }
  body div#gamecube {
    background: white;
    width: 80%;
    max-width: 1020px;
    width: 80%;
    max-width: 1020px;
    min-height: 110vh;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 1px #c2c2c2;
            box-shadow: 0 0 5px 1px #c2c2c2;
    left: 0;
    right: 0;
    margin: auto; }
    body div#gamecube > span {
      padding: 100px;
      display: block; }
      body div#gamecube > span > span {
        display: inline-block; }
    body div#gamecube span.good {
      color: green; }
    body div#gamecube span.bad {
      color: red; }
    body div#gamecube span.current {
      font-weight: bold; }
    body div#gamecube span.next {
      opacity: 0.5; }

div#box {
  width: 50px;
  height: 50px;
  background: red;
  display: block;
  margin: -25px 0 0 -25px;
  position: absolute; }
